@{
    ViewBag.Title = "Головна";
}
<div class="container-fluid padding">
    <div class="container col-md-12">
        <div class="card text-info border-white ">
            <img src="~/Images/Equipments/main.jpg" class="img-thumbnail" />
            <h4 class="text-center text-primary">Інформаційна система СТО</h4>
        </div>
    </div>
</div>
